# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
build/
dist/
*.spec

# Django
db.sqlite3
media/
staticfiles/
*.csv
!sample_equipment_data.csv

# Node
node_modules/
dist/
.env*

# OS
.DS_Store
Thumbs.db
